html{
    font-family: Arial;
    font-size: 12px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: blue;
}

li {
    float: left;
    border: 1px solid #606060;
}
button{
    position: center;
    background: black;
    color: white;
    font-size: 20px;
}
#button{
    display: none;
}
#topColumn{
    background: blue;
    font-size: 20px;
}
table{
    border: 2px solid;
    border-spacing: 2px;
    width: 100%;
}
td{
    text-align: center;
}

.tetris{
    background-image: url("tetris-grid-bg.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center;
    size: auto;
    height: 600px;
}
.score{
    font-size: 20px;
    background: white;
}

.main{
    height: 100vh;
    background-image: url("tetris.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95% 100%;
}
.form{
    margin: 0 auto;
    width: 20em;
    background: #c7c7c7;
    text-align: center;
    position: relative;
    box-shadow:5px 5px;
    max-height: 800px;
    width: 300px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: black;
}